*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
MANIFEST
PKG-INFO

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Don't upload private things
*.private

# and vim's
*.swp
*.swo

# Ignore emacs temporary files
*~
\#*\#

# Ignore client logfiles and configs
*.log
*.conf
*.config

# ignore debian stuff
debian/files
debian/leap-mx.postinst.debhelper
debian/leap-mx.postrm.debhelper
debian/leap-mx.prerm.debhelper
debian/leap-mx.substvars
debian/leap-mx/
