Source: leap-mx
Maintainer: Micah Anderson <micah@debian.org>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 9)
Standards-Version: 3.9.4

Package: leap-mx
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-twisted (>= 13.0.0-1)
Description: Asynchronous, transparently-encrypting remailer for the LEAP platform
 Asynchronous, transparently-encrypting remailer using BigCouch/CouchDB
 and OpenPGP, written in Twisted Python.
